[Unit]
Description=Node.js Dummy App
After=network.target

[Service]
EnvironmentFile=/var/www/app/.env
Type=simple
User=ubuntu
WorkingDirectory=/var/www/app
ExecStart=/usr/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
